* {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.carousel-inner {
    width: 100%;
    max-height: 450px !important;
}

.view-category {
    text-decoration: none;
}

.view-category :hover {
    color: coral;
}

.checkout-form label {
    font-size: 12px;
    font-weight: 700;
}

.checkout-form input {
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}